@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
body{
  background-color: blue;
}

.white {
  color: white;
}

:root {
  --width: 100%;
}

.App1 {
  background-color:blue;
  color: white;
}

.navbar {
  background-color: rgb(1, 1, 40);
  padding:20px;
}
.navbar .home {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.row_posters {
  width: var(--width);
  flex-wrap: wrap;
  display: flex;
  padding: 20px;
  gap: 10px;
}

.poster {
  width: calc((var(--width) / 4) - 74px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 6px;
  background-color: rgb(2, 2, 114);
  border-radius: 3px;
}

.poster img {
  width: 100%;
  max-height: 250px;
}

.title {
  position: absolute;
  padding: 5px;
  top:0; left:1px; right:1px; bottom: 54px;
  opacity: 0;
  background-color: rgba(17, 17, 17, 0.567);
}

.title:hover {
  opacity: 1;
  transition: 0.4s ease-in-out;
}

.title .icon {
  font-size: 20px;
  color: white;
}

.title .liked {
  color: red;
  transition: 0.2s;
}

.title .movie_title {
  margin: 140px 0;
  text-align: center;
}

.modal_popup {
  width: 42%;
  padding: 10px 7px;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  top: 12%;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  z-index: 10;
  color: black;
  gap: 8px;
  font-size: 13px;
}

.modal_popup .result_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 6px;
}

.modal_popup .result_box:hover {
  background-color: rgb(238, 238, 238);
  transition: 0.1s ease-in-out;

}

.modal_popup .results {
  font-weight: 540;
  font-size: 15px;
}

.modal_popup .remove_btn {
  color: blue;
  font-size: 11px;
}

.modal_popup .remove_btn:hover {
  text-decoration: underline;
}

@media screen  and (max-width: 768px) {
  .poster {
    width: calc((var(--width) / 3) - 8px);
  }
  .poster img{
    max-height: 250px;
  }
   
}
@media screen and (min-width: 768px) and (max-width:1023px) {
   .poster {
    width: calc((var(--width) / 4) - 8px)
  };
}
@media screen and (max-width:480px) {
  .row_posters{
    padding: 20px 10px;
    gap: 10px;
  }
  .poster {
    width: calc((var(--width) / 3) - 7px);
  }
  .modal_popup {
    width: 50%;
  }
}

.summary-btn {
  color:white;
  padding: 8px;
  background-color: rgb(2, 2, 64);
  text-align: center;
  border: 1px solid rgb(2, 2, 64);
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
}

.summary-btn:hover{
  background-color: rgb(0, 0, 32);
}
.summary-btn:active{
  background-color: rgb(0, 0, 7);
}

.table-section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: black;
}
.mission-table {
  border-collapse: collapse;
  width: 95%;
  table-layout: fixed;
}

.mission-table th {
  padding-top: 12px;
  font-size: 14px;
  padding-bottom: 12px;
  text-align: center;
  color: white;
  border: 1px solid #ddd;
}
.mission-table .summary{
  font-size: 16px;
}
.mission-table td {
  border: 1px solid #ddd;
  padding: 6px;
  color:black;
  font-size: 13px;
  text-align: center;
  vertical-align: middle;
}

.mission-table th:nth-child(2) {
  width: 50%;
}

.mission-table tbody tr {
  background-color: #fff !important;
}

.mission-table tbody tr:nth-child(even) {
  background-color: #f2f2f288;
}

.mission-table tbody tr:hover {
  background-color: rgba(221, 221, 221, 0.431);
}

.mission-button{
  background-color: rgb(1, 1, 66);
  border-radius: 5px;
  padding: 8px 25px;
  font-size: 15px;
  color: white;
  cursor: pointer;
}