.user-container{
    text-align: center;
}
.Login {
    margin:auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.gap{
    display: flex;
    color: rgba(255, 255, 255, 0.802);
    gap:7px;
}
.form_container {
    background-color: rgba(24, 19, 13, 0.839);
    border: 1px solid rgba(17, 17, 17, 0.672);
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 420px;
    padding: 30px;
    margin: auto;
}

.form_inputs {
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    gap:20px;
}

.form_inputs input{
    padding: 10px;
    background-color: rgb(51, 51, 51);
    color: white;
    font-size: 17px;
}

.form_inputs
 input::placeholder{
    color:white;
    font-size: 13px;
}

.sign_btn{
    background-color: blue !important;
    border: 1px solid blue;
    color: white !important;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

.sign_btn:hover{
    opacity: 0.8;
}

